/*Page style*/
header{
  border: 2px solid black;
  margin: 2px;
  text-align: center;
}
article, section, aside{
  border: 2px solid blue;
  margin: 2px;
}
body{
  background-color: #FF2419;
  font-family: 'Domine';
}
header{
  background-color: #CCCCCC;
}
#pop1, #pop2{
  border: 1px solid transparent
}
/*Photo game*/
#wrap{
  width:450px;
  margin-left: auto;
  margin-right: auto;

}
#graphholder{
  float:left;
}
.imageholder{
float: left;
}
.image{
  border: 2px solid black;
  padding: 2px;
  margin: 2px;
  float: left;
  background-color: #483FB7;
}
.hilighted{
  border: 2px solid yellow;
  padding: 2px;
  margin: 2px;
  float: left;
  position: fixed;
}
.score{
  border: 2px solid black;
  padding: 2px;
  margin: 2px;
  float: left;
}
#buttonholder{
  clear:both;
  width: 140px;
  margin: auto;
}
