header, footer{
  border: 2px solid black;
  margin: 2px;
}
article, section, aside{
  border: 2px solid blue;
  margin: 2px;
}
#div{
  text-align: center;
}
.image{
  border: 2px solid black;
  padding: 2px;
  margin: 2px;
  float: left;
}
.hilighted{
  border: 2px solid yellow;
  padding: 2px;
  margin: 2px;
  position: fixed;
}
main{

}
